#employees {
 
.card-create-employees .ant-card-body{
  height: 500px;
  overflow: auto;
}
  .buttonSkills {
    height: 35px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100px;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
      7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
    outline: none;
  }
  .btn-skills {
    background: linear-gradient(to bottom, #14141c, #0d0c22);
    width: 90px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: none;
  }
  .btn-skills span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-skills:before,
  .btn-skills:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, #14141c, #0d0c22);
    transition: all 0.3s ease;
  }
  .btn-skills:before {
    height: 0%;
    width: 2px;
  }
  .btn-skills:after {
    width: 0%;
    height: 2px;
  }
  .btn-skills:hover {
    background: transparent;
    box-shadow: none;
  }
  .btn-skills:hover:before {
    height: 100%;
  }
  .btn-skills:hover:after {
    width: 100%;
  }
  .btn-skills span:hover {
    color: rgba(0, 0, 0, 0.79);
  }
  .btn-skills span:before,
  .btn-skills span:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #14141c, #0d0c22);
    transition: all 0.3s ease;
  }
  .btn-skills span:before {
    width: 2px;
    height: 0%;
  }
  .btn-skills span:after {
    width: 0%;
    height: 2px;
  }
  .btn-skills span:hover:before {
    height: 100%;
  }
  .btn-skills span:hover:after {
    width: 100%;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
