#employee_details {
  // .ant-input.ant-input-disabled.ant-input-lg
  // {
  //   color: black !important;
  // }

  .ant-input-disabled,
  .ant-input[disabled],
  .ant-select-selection-item,
  .ant-input.ant-input-disabled.ant-input-lg,
  .ant-picker.ant-picker-large.ant-picker-disabled,
  .ant-picker .ant-picker-input > input-disabled,
  .ant-picker .ant-picker-input > input[disabled] {
    color: black !important;
  }
  .ant-col.ant-form-item-label label::after {
    content: '';
  }
  .ant-col.ant-col-12 {
    margin-top: 5px;
  }

  .styleAvatar {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 13px;
  }
  .employee-details-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-scroll-container {
    flex: 1;
    overflow-y: auto;
    padding: 16px; /* Thêm padding để tránh ảnh hưởng đến việc cuộn của card */
  }
}
#employee_details_container {
  height: 100vh; // Adjust the height as needed
  overflow: hidden;
}
.details-scroll-container {
  height: 80vh;
  overflow-y: auto;
}

// .details-card {
//   border-radius: 30px;
// }

.card-detail-employees {
  .ant-card-body {
    height: 500px;
    overflow: auto;
  }
}

.card-project {
  width: 300px;
  height: 270px;
  // background-color: #fee4cb;
  border-radius: 20% !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .ant-card-body {
    height: 250px;
    overflow: hidden;
    margin-top: 10px;
    // align-items: center;
    // justify-content: center;
  }
  #row-first {
    display: flex;
    justify-content: space-between;
  }
  #row-second {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #title-project {
      font-size: 22px;
      font-weight: bold;
    }
  }
}
