#project_create {
  div.ant-col.ant-form-item-label {
    text-align: start;
  }
  // .ant-table {
  //   margin-top: 20px;
  // }

  // .ant-space {
  //   column-gap: 55px;

  //   @media screen and (min-width: 1300px) {
  //     column-gap: 100px;
  //   }

  //   @media screen and (min-width: 1800px) {
  //     column-gap: 150px;
  //   }
  // }

  .ant-typography {
    display: block;
    margin-bottom: 15px;
  }
  // .ant-space-item:not(:last-child) {
  //   width: 100%;
  // }
  // .ant-form-item {
  //   width: 100%;
  // }
}
