#employees {
  .button__create {
    font-size: 16px !important;
    border-radius: 12px;
    height: 35px;
    color: white !important;
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #ffdde1,
      #ee9ca7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
    justify-items: end;
  }
  .button__create:hover {
    border-color: #fb8494 !important;
  }
  .error-message {
    color: red;
    font-size: 14px;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .required-indicator {
    color: red;
  }
  .custom-upload {
    margin: 0;
  }
}
